html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color:#F4F6F8;
}

h1{
    font-size: 60px;
    color:#222222;
    text-shadow: 1px 1px 1px gray;
}
h3{
    font-family: "Roboto Mono", sans-serif2222;
    color: #222222;
}
header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#section1{
    padding-bottom: 5%;
}
#divbutton{
    margin-top: 2%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    gap: 30px;
}
.buttonfilter{
   font-family: "Roboto", sans-serif;
   width: 15%;
   height: 60%;
   border-radius: 10px;
   border: none;
   background-color: #222222;
   color: aliceblue;
   padding: 10px;
   font-size: 18px;
   transition: 0.4s ease;
   cursor: pointer;
   box-shadow: 1px 1px 10px gray;
}
.buttonfilter:hover{
    background-color: #ffffff;
    scale: 1.2;
    color: #222222;
    font-size: 19px;
    font-weight: bold;
}
.buttonproduct{
    text-align: center;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   width: 30%;
   height: 40%;
   border-radius: 18px;
   border: none;
   background-color: #1e5794;
   color: aliceblue;
   padding: 10px;
   transition: 0.4s ease;
   cursor: pointer;
}
.buttonproduct:hover{
    background-color: #ffffff;
    scale: 1.2;
    color: #222222;
    box-shadow: 1px 1px 10px gray;
    font-size: 18px;
    font-weight: bold;
}
#product-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 3%;
}

.product-card{
    background-color: white;
    width: 30%;
    max-width: 400px;
    height: 50%;
    max-height: 350px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s ease;
}
.product-card:hover{
    transform: scale(1.06);
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(41, 41, 41);
}

.product-card img {
    width: 30%;
    height: 30%;
    max-width: 200px;
    max-height: 160px;
    object-fit: contain;
    transition: 0.8s ease;
}

.product-card p {
    font-size: 25px;
    min-height: 30px;
    margin: 5px 0;
    color: #222222;
    transition: 0.8s ease;
}

.product-card h3 {
    font-size: 18px;
    min-height: 50px;
    margin: 5px 0;
    transition: 1s ease;
}

.product-card:hover p {
    font-size: 25px;
    min-height: 30px;
    margin: 5px 0;
    font-weight: bold;
    scale: 1.01;
}

.product-card:hover h3 {
    font-size: 20px;
    min-height: 50px;
    margin: 5px 0;
    font-weight: bolder;
    color: black;
    scale: 1.01;
}

.product-card:hover img {
    scale: 1.2;
}